<pre><code>
You vill buy me a coffee or just send me money (I'm a poor student)

Here is my XMR Address:
42wyTJBwqS5apjojetMNiqCuE3MDnQvavNY3VkoKLwi9F3bVQTpHdcRgCtJ7WPFRePWhJPMau2xsFcWiZrvdJacDG4t8zei




-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGZebFsBEAC7I2ojjoomFFgzIid6ZmhvNZzn+N76jjNYDQGxV+Syco/xtTQF
CEGxTGynvlPeYNiH/hC7c2Cw02usMVPK6ql1eU3bSTSQlct9Ta7ICKouaI3h8AWa
T7UasOArV+uxQKxIayPMkA5K4woisbwAwVpaW3c8sk6YJmwaW+44l4nXUvRdDDWT
Rgp/rooHYoLnfYAkmQorot45UZLJ/ZH9xh2E9oAslqzFzSWj6PwO9FqrFdj1jlNp
rZG93d77+VCe3DaotHLXlODqv2wxEind/72JdGaRcoQ1vdQR4fov6oAWD3HDzRTv
F5AUQqeFWYSoVBbirC2ZiWV0bLy9n+TbVDcYW5OrIbXoYyCSZtnnWITjOn9Gw65/
8nbb69LULzoMDeNAlgoiJmwFf2TKz1+gFcYU88CQOgdoDIVWaC9IKEx5Vu/s8586
IeMD4tUbJti0f4RhsaJmF3qb0rm7hoyeOvc+wIWWG1vNNqsNFQEPPcMvb/yt68pG
toaEHuwDQRH6UoyVrRW4HVTTf2odJyM7CQXYB0XsgT4G4fu6V9GIsh17uPDCZzMh
d0DEUgQ3PFxzG0Rlh4nxPFqNNhHyo8qqJSY7AKxzzBQhJMLA/tg2O6kVRrLeGRaO
45tyX0T5EVSPHuIRtonZ1HpiKqZ/Xt9NMI5RYb30rBIiFLP4ZKeDA1AH6QARAQAB
tCxQdXJlbHkgRmljdGlvbmFsIDxhZG1pbkBwdXJlbHlmaWN0aW9uYWwub3JnPokC
VwQTAQgAQRYhBODaDrVRaYJjXEhZwQkr2cIITtH/BQJmXmxbAhsDBQkDwmcABQsJ
CAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEAkr2cIITtH/ip4P/jx+s83ZXI+X
Zt5WyXjNnZsO3L5NcHDfyoFOjhEok11nkSJocur5B0EZ+3XIu28Mxi8AfJBa2WeL
aVfOxm3Yk3UeZ3UwCClt4yO9P7VoQtdhsZmjmxTE+b1fbz/uP7Zvi8zM+M+gHPsf
YGjTX4rCeBA2vxqYjhumapN5IA1418TQ70Le7RU0jTeLRZfB9dhpSAS/OjN9XWH/
cjCx2FxDgUAUPUb+EFuMGYkjRkoo5PqfAdPabQF8EKaQlNRiYOfPueXYtHJzardK
N+zY3L52yqsisCA1ivmUPVpVKwcUt7Sgc/e4Qa0vCSFlgwhia4J+7IWBKxaojVuh
OVRWhLBbV9n6Aii1cedTWsV1j29D6WpH03uV3PM8yKVbOJzGvvILsbm+iySUWoK8
KofIihdggG7lGN6XrWLNdJmgXk23zTsPcMguxKloqVoJqIQpV0oUNgBsI99Jhpoi
kEg9o7GpumaJlyQvaqXV8EM7tNRRcShxeRZ3X2yl4UwDUAcb/tqmjuTsc8HOGCTE
8OvobYYoz+wDUfHjStWThp9/GWLr43323BEXbM/a1mcvhZ2Z+naRcBOmLtDhNk75
N5+M/4kEZ5YucXqkD4B7wCmunp+gqtR5Ny4VYNmG5rMW3/j7gPsWQqoM6Ki3QSRh
+ZWH0OjKqlzI4Qm08jlqUvOCxM/A6rxsuQINBGZebFsBEADDtYObAn/gR24J2xzI
f9MrbYlAmYeIq6bFRCQrnKtsVKJJhpqyQZvPv2QFABjjDXX5M1nh23+61aptbOFo
HJTWA9pSSpNzeJHcl24rGXSH4kjjt8SMPia32IEHRukJYp75IUBEfPTWrr3d2XoO
S6lA8pkhjZcZkAvJXnUbAtY/D1Av1Yo4VNqLtu4icq1Yj2t4FZOmlX3ycywY0wdH
WAujp0tCFOnuXitXLYmsAjHNtiabyHFmS1bFJfEVWzw++qO+5feX9xwiQ4lizouc
ufaCV2VY+1a+PBtcpoC6dzuvyoLrrSQR8ISWZAZbMvN8az5pHxGg0TkzWz6N9AD7
IIb+Eu7uLYEiui5yDDQTO6krf9qGYTnWNp5j0spb/l3ITzmI+G0xB0CMX6sSv2sa
DPfw87xRt3cCUfPowlGq6GoBRgtgOrkkS4lSdP4AiYDfd63PmzYtHFROBTwf8qZ4
ox2oBNsyHV/da2uzLYzJH8Gzo47wiXbyXvM2vnl4xib+EaIjApXmF948kjh+D+Uf
3RU43pI9reb9vZCQW3DVVhjR2iR41jPoCIXvn71xigeH+y5QhF3ii7rqGByykdyK
rcr9wf3Q9uV2bXJ6TGqVYWz8uEfjyoJwLxe1GkuuSmaFtjkr1iYJXa673ypuOU6a
z8RuBAGgIwPfYOq2LntPK0OY3wARAQABiQI8BBgBCAAmFiEE4NoOtVFpgmNcSFnB
CSvZwghO0f8FAmZebFsCGwwFCQPCZwAACgkQCSvZwghO0f++kxAAhLoDFhLM0Zgc
RLgxAucnajdP+h/b2MJCGYaE7Htn97KH88kABtxsBraWZcsjhEqBDLmrz7hWb+rc
N+bsOn1t6n+BIuBgIOoYIZX/WTak1THSOlMJsdAMRHG6fvIsLn6/VDk668JFPOu4
fIovQ3to1sdETRyGeNmSDUhjuERzwZX0amBfD8AAhiC8VRO2CkILlgJG+zt0PuT4
kJaKL+k/YkuvR5okPVOR06MyJsANx4PhRc5zSdCLAa5kRNHfC4GxvZoym4eGExK/
Z7yMEtQ3ojOT54R9uRt9aDdAYp+YfovxjgH4pcXc1uEnmBlVlrBwtdRoZO5yIQ1e
bIBgyU7Yb6jmXF36yA/UQSoacQff3lGEBnz48xIMQYvZ+f+DWUiXU2Z0cO5ET6fo
HulIfPkTgWVgyX/+W3RG2rZK7bRuNrmMbh7hkTHMdjIKl7QzCRr0ALU1I9YYK6LA
t/eYDPYxF8mg1pi3eDhsleFkNPeOR25dksNQKCxrwm4e5p/eRR/X0pq+ZKZDpapV
XdE2rPC3QzVt1XnBmpsiMpNl80AysXZ2zDB7OYQ9X11Wqz5mwlJ9vUHSCGpN21or
JFYDoEduTU9bQAmfMmZjTkB03VbYbeFTH8VjPq0cVO4Ef140dNARTFBIAIj/snto
eUY+wYrfmJ1TADgLuD5NfaKEXbi6si8=
=L1UM
-----END PGP PUBLIC KEY BLOCK-----
</code></pre>
