@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}


body {
    color: #222;
    font-family: 'EB Garamond';
    margin: 0;
    font-size: 18pt;
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-feature-settings: "smcp";
    font-weight: normal;
    margin-bottom: 0.25em;
}

p{
    margin: 0em;
    padding: 0em;
}

p+p{
    text-indent: 2em;
}

ul {
    list-style-type: "⟡ "; 
}

.clickable-element {
    display: inline-block;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color */
}

.clickable-element:hover {
    text-decoration: none;
}

table {
  width: 50%;
  max-width:50%;
  border-collapse: collapse;
}

table th,
table td {
  width: 1%;
  padding: .5rem;
  vertical-align: top;
}

table thead th {
  vertical-align: bottom;
}

.title-pic{
    display: block;
    border: solid 3px black;
    max-width: 99%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.pic{
    border: solid 3px black;
    max-width: 100%;
}

a {
    color: #222
}

.thought-inject{
    text-align:center;
    margin-top:20px;
    margin-bottom:60px;
}

.foot{
    text-align: center;
    color: grey;
}

code{
    font-family: 'IBM Plex Mono', monospace;

}

.fof{
    font-size: 10em;
    text-align: center;
}

.content-container-post {
    max-width: 50%;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}
.content-container {
    max-width: 50%; /*TODO: fix like above*/
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

.content-container-postlist{
    max-width: 50%;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

.list-container{
    width: 30%;
}

.content-inner {
    margin-top: 100px;
}

pre {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10pt;
    overflow-x: scroll;
    padding: 10px;
}

tr {
    margin-top: 4px;
}

.bottom-border {
    border-bottom: 1px solid #222;
}    

.post {
    margin-bottom: 70px
}


.plain-link {
    color: #222;
    text-decoration: none;

}

.post a {
    color: #222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.article-title {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: -5px;
}

/* Navbar Styles */
.navbar-container {
    overflow: hidden;
    width: 100%;
    background-color: #fafafa;
    padding: 0px 0;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 1000;
    top: 0;
}

.navbar {
    display: flex;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

.navbar .brand {
    font-size: 30px;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar .menu a {
    color: #222;
    text-decoration: none;
    font-size: 18pt;
}

.navbar .menu a:hover {
    text-decoration: underline;
}

.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* Dropdown Menu Styles */
.dropdown {
    //border-top: 2px solid #666666;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 0;
    text-align: left;
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #222;
    width: 100%;
    text-align: center;
}
.pre {
    overflow-x: scroll;
    padding: 10px;
}

.sourceCode{
    font-size:12pt;
}

.purely {
    font-size: 26px;
}

.purely-left{
    font-style: italic;
}

.purely-right
{
    color: #7a7a7a;
}


pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { display: inline-block; text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {   }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */



@media (prefers-color-scheme: dark) {
    body {
        color: #dbdbdb;
        background-color: #121212;
    }
    .purely-right
    {
        //background-color: #121212;
        color: #7a7a7a;
    }
    .plain-link: {
        color: #dbdbdb;
    }
    .post a {
        color: #d0d0d0;
    }
    .dropdown a {
        padding: 10px;
        text-decoration: none;
        color: #dbdbdb;
        background-color: #1c1c1c;
        width: 100%;
        text-align: center;
    }
    .dropdown.visible {
        display: flex;
        background-color: #1c1c1c;
    }
    .navbar-container {
        background-color: #1c1c1c;
    }
    .navbar .menu a {
        color: #dbdbdb;
    }
    .article-title {
        color: #d0d0d0;
    }
    a {
        color: #dbdbdb;
    }
    .pic{
        border: solid 3px white;
    }
    .title-pic{
        border: solid 3px white;
    }


    pre > code.sourceCode { white-space: pre; position: relative; }
    pre > code.sourceCode > span { line-height: 1.25; }
    pre > code.sourceCode > span:empty { height: 1.2em; }
    .sourceCode { overflow: visible; }
    code.sourceCode > span { color: inherit; text-decoration: inherit; }
    div.sourceCode { margin: 1em 0; }
    pre.sourceCode { margin: 0; }
    @media screen {
    div.sourceCode { overflow: auto; }
    }
    @media print {
    pre > code.sourceCode { white-space: pre-wrap; }
    pre > code.sourceCode > span { display: inline-block; text-indent: -5em; padding-left: 5em; }
    }
    pre.numberSource code
      { counter-reset: source-line 0; }
    pre.numberSource code > span
      { position: relative; left: -4em; counter-increment: source-line; }
    pre.numberSource code > span > a:first-child::before
      { content: counter(source-line);
        position: relative; left: -1em; text-align: right; vertical-align: baseline;
        border: none; display: inline-block;
        -webkit-touch-callout: none; -webkit-user-select: none;
        -khtml-user-select: none; -moz-user-select: none;
        -ms-user-select: none; user-select: none;
        padding: 0 4px; width: 4em;
      }
    pre.numberSource { margin-left: 3em;  padding-left: 4px; }
    div.sourceCode
      { color: #cccccc; background-color: #121212; }
    @media screen {
    pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
    }
    code span.al { color: #ffcfaf; } /* Alert */
    code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
    code span.at { } /* Attribute */
    code span.bn { color: #dca3a3; } /* BaseN */
    code span.bu { } /* BuiltIn */
    code span.cf { color: #f0dfaf; } /* ControlFlow */
    code span.ch { color: #dca3a3; } /* Char */
    code span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
    code span.co { color: #7f9f7f; } /* Comment */
    code span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
    code span.do { color: #7f9f7f; } /* Documentation */
    code span.dt { color: #dfdfbf; } /* DataType */
    code span.dv { color: #dcdccc; } /* DecVal */
    code span.er { color: #c3bf9f; } /* Error */
    code span.ex { } /* Extension */
    code span.fl { color: #c0bed1; } /* Float */
    code span.fu { color: #efef8f; } /* Function */
    code span.im { } /* Import */
    code span.in { color: #7f9f7f; font-weight: bold; } /* Information */
    code span.kw { color: #f0dfaf; } /* Keyword */
    code span.op { color: #f0efd0; } /* Operator */
    code span.ot { color: #efef8f; } /* Other */
    code span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
    code span.sc { color: #dca3a3; } /* SpecialChar */
    code span.ss { color: #cc9393; } /* SpecialString */
    code span.st { color: #cc9393; } /* String */
    code span.va { color: #caf   ; } /* Variable */
    code span.vs { color: #cc9393; } /* VerbatimString */
    code span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */



}


/* Responsive Styles */
@media (max-width: 1000px) {
    body {
        font-size: 14pt;
    }
    .navbar .menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .dropdown.hidden {
        display: none;
    }

    .dropdown.visible {
        display: flex;
    }
    .purely {
        font-size: 22px;
    }
    .content-container-postlist{
        margin-top:70px;
    }
    .title-pic{
        max-width: 98%;
    }

    .content-container,
    .content-container-postlist, 
    .content-container-post,
    .navbar-container 
    .navbar {
        max-width: 90%
    }
}












/* We rely on a counter for sidenotes */
body {
    counter-reset: sidenote-counter;
}

/* Sidenotes and margin notes on larger screens */
.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -45%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.15;
    vertical-align: baseline;
    position: relative;
}

/* Increment sidenote counter for each sidenote-number element */
.sidenote-number {
    counter-increment: sidenote-counter;
}

/* Style counters */
.sidenote-number:after,
.sidenote:before {
    /* Adjust font-family as desired */
    font-family: "EB Garamond", serif;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

/* Sidenotes inside blockquotes need different positioning */
blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

/* Margin toggles for responsive behavior */
input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

/* By default, other margin toggles are hidden */
label.margin-toggle:not(.sidenote-number) {
    display: none;
}

/* Responsive adjustments for narrow screens */
@media (max-width: 760px) {
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}

