<div class="navbar-container">
    <div class="navbar">
        <div class="brand">
            <p class="purely"><a href="/" class="clickable-element">
                <span class="purely-left">$bartitle$</span>
                <span class="purely-right">$barcomment$</span>
            </a>
            </p>
        </div>
        <div class="menu">
            <a href="/blog">Blog</a>
            <a href="https://harmful.purelyfictional.org">Harmful</a>
            <a href="/pgp">PGP</a>
        </div>
        <div class="burger-menu">
            &#9776;
        </div>
    </div>
    <div class="dropdown hidden">
        <a href="/blog">Blog</a>
        <a href="https://harmful.purelyfictional.org">Harmful</a>
        <a href="/pgp">PGP</a>
    </div>
</div>

